version: "3.9"

services:
  controller:
    image: auto-scaller
    container_name: resource-controller
    restart: unless-stopped

    environment:
      PROMETHEUS_URL: http://localhost:9090
      NOMAD_ADDR: http://localhost:4646
      REGISTRY_USERNAME: kusumaningrat16
      REGISTRY_PASSWORD: kusumaningrat
      NAMESPACE: testing
      NOMAD_TOKEN: "53f0b60f-23a5-c1ae-4638-2cf9623223e4"

    volumes:
      - ./templates:/app/templates:ro
    network_mode: host
